.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  position: relative;
}

.sidebar {
  width: 250px;
  background-color: #130a0a;
  padding: 10px;
}

.content {
  display: flex;
  flex: 1;
  padding: 10px;
}

.editor-layout {
  flex: 1;
  background-color: #f0f0f0;
  margin-left: 10px;
}

.footer {
  height: 40px;
  background-color: #ccc;
}

.minimized {
  display: none;
}

.maximized {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
